<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class= "contatiner bg-primary dark">
      <div class="row">
        <!-- Add Jumbotron to Header -->
        <div class=" col-md jumbotron text-center container bg-primary dark">
          <h1>Meet the Authors</h1>
          <p>Blue Group: Paul Westmore, Christopher Garcia, Stuart Wilson, Moez Kmo</p>
          <ul class="nav nav-pills">
            <li><a href="http://127.0.0.1:5000/">  Home  </a></li>
            <li><a href="http://127.0.0.1:5000/weather">  Weather and Crime  </a> </li>
            <li><a href="http://127.0.0.1:5000/machine-learning">  Machine Learning  </a> </li>
            <li class="active"><a href="http://127.0.0.1:5000/about">  About Us  </a> </li>
          </ul>
        </div>
        </div>
    <!-- Add section for each contributer -->
    <div class="row" id="mars-news">
        <div class="col-md-6 text-center">
          <div class="media">
            <div class="media-body">
              <h2 class="media-heading">Stuart Wilson</h2>
              <p>{{ authors.stuart.description }}</p>
              <div class="col-md">
                <div class=center>
                  <!-- <img src="images/Put picture here and resize to 204/272"> -->
                </div>
            </div>              
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="media">
            <div class="media-body">
              <h2 class="media-heading">Paul Westmore</h2>
              <p>{{ authors.paul.description }}</p>
              <div class="col-md">
                <div class=center>
                  <!-- <img src="images/Put picture here and resize to 204/272"> -->
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="media">
            <div class="media-body">
              <h2 class="media-heading">Moez Kmo</h2>
              <p>{{ authors.moez.description }}</p>
              <div class="col-md">
                <div class=center>
                  <!-- <img src="images/Put picture here and resize to 204/272"> -->
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="media">
            <div class="media-body">
              <h2 class="media-heading">Christopher Garcia</h2>
              <p>{{ authors.chris.description }}</p>
              <div class="col-md">
                <div class=center>
                  <img src="images/chris_profile.JPG">
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>