<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class= "contatiner">
      <div class="row ">
        <div class="col-md jumbotron text-center">
          <h1 class="display-4" style="font-weight: bold;">Crime in Greater Austin Area</h1>
          <nav class="nav float-left ml-3">
            <a class="nav-link" href="{{ data.path }}/">Home</a>
            <a class="nav-link" href="{{ data.path }}/weather">Weather and Crime</a>
            <a class="nav-link" href="{{ data.path }}/food">Food Scarcity</a>
            <a class="nav-link" href="{{ data.path }}/machine-learning">Machine Learning</a>
            <a class="nav-link active" href="{{ data.path }}/about">About Us</a>
          </nav>
        </div>
      </div>
      <!-- Add section for each contributer -->
      <div class="row  dark" style="color: #212529;">
        <div class="col-md-11">
          <h1 class="text-white">
            <u>
              <b><center >Meet the Authors</center></b>
            </u>
          </h1>
        </div>
        <!-- Stuart -->        
        <div class="col-md-5 text-center bg-primary border border-danger rounded m-5 p-3">
          <h2 class="media-heading">Stuart Wilson</h2>
          <div class="p-3 center mx-auto">
            <a class="btn btn-dark" href="{{ data.stuart.gh }}" role="button">GitHub</a>
            <a class="btn btn-dark" href="{{ data.stuart.linked }}" role="button">LinkedIn</a>
            <a class="btn btn-dark" href="{{ data.stuart.tableau }}" role="button">Tableau</a>
          </div>
          <div class="m-3 p-2 row mx-auto">
            <div class="col-auto" style="width: 250px; height: 300px;">
              <img class="img-thumbnail" src="{{ url_for('static', filename='images/stuart_profile.png') }}">
            </div>
            <div class="col-auto" style="width: 250px; height: 300px;">
              <p class="p-3 bg-white rounded center text-center ">{{ data.stuart.description }}</p>
            </div>
          </div>
        </div>
        <!-- Paul -->
        <div class="col-md-5 text-center bg-primary border border-danger rounded m-5 p-3">
          <h2 class="media-heading">Paul Westmore</h2>
          <div class="p-3 center mx-auto">
            <a class="btn btn-dark" href="{{ data.paul.gh }}" role="button">GitHub</a>
            <a class="btn btn-dark" href="{{ data.paul.linked }}" role="button">LinkedIn</a>
          </div>
          <div class="m-3 p-2 row mx-auto">
            <div class="col-auto" style="width: 250px; height: 300px;">
              <img class="img-thumbnail" src="{{ url_for('static', filename='images/paul_profile.jpg') }}">
            </div>
            <div class="col-auto" style="width: 250px; height: 300px;">
              <p class="p-3 bg-white rounded center text-center" style="font-size:0.8rem;">{{ data.paul.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Add section for each contributer -->
      <div class="row  dark" style="color: #212529;">
        <!-- Moez -->
        <div class="col-md-5 text-center bg-primary border border-danger rounded m-5 p-3">
          <h2 class="media-heading">Moez Kmo</h2>
          <div class="p-3 center mx-auto">
            <a class="btn btn-dark" href="{{ data.moez.gh }}" role="button">GitHub</a>
            <a class="btn btn-dark" href="{{ data.moez.linked }}" role="button">LinkedIn</a>
            <a class="btn btn-dark" href="{{ data.moez.tableau }}" role="button">Tableau</a>
          </div>
          <div class="m-3 p-2 row mx-auto">
            <div class="col-auto" style="width: 250px; height: 300px;">
              <!-- <img class="img-thumbnail" src="{{ url_for('static', filename='images/stuart_profile.png') }}"> -->
            </div>
            <div class="col-auto" style="width: 250px; height: 300px;">
              <p class="p-3 bg-white rounded center text-center ">{{ data.moez.description }}</p>
            </div>
          </div>
        </div>
        <!-- Chris -->
        <div class="col-md-5 text-center bg-primary border border-danger rounded m-5 p-3">
            <h2 class="media-heading">Christopher Garcia</h2>
            <div class="p-3 center mx-auto">
              <a class="btn btn-dark" href="{{ data.chris.gh }}" role="button">GitHub</a>
              <a class="btn btn-dark" href="{{ data.chris.linked }}" role="button">LinkedIn</a>
              <a class="btn btn-dark" href="{{ data.chris.tableau }}" role="button">Tableau</a>
            </div>
            <div class="m-3 p-2 row mx-auto">
              <div class="col-auto" style="width: 250px; height: 300px;">
                <img class="img-thumbnail" src="{{ url_for('static', filename='images/chris_profile.jpg') }}">
              </div>
              <div class="col-auto" style="width: 250px; height: 300px;">
                <p class="p-3 bg-white rounded center text-center ">{{ data.chris.description }}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>