<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Machine Learning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class= "contatiner">
      <div class="row">
        <div class=" col-md jumbotron text-center">
          <h1 class="display-4" style="font-weight: bold;">Crime in Greater Austin Area</h1>
          <nav class="nav float-left ml-3">
            <a class="nav-link" href="{{ data.path }}/">Home</a>
            <a class="nav-link" href="{{ data.path }}/weather">Weather and Crime</a>
            <a class="nav-link" href="{{ data.path }}/food">Food Scarcity</a>
            <a class="nav-link active" href="{{ data.path }}/machine-learning">Machine Learning</a>
            <a class="nav-link" href="{{ data.path }}/about">About Us</a>
          </nav>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-11 m-2 p-2 mx-auto rounded bg border border-secondary row justify-content-between">
          <div class="col-md-11">
            <h1>
              <u>
                <b><center >Unsupervised Machine Learning</center></b>
              </u>
            </h1>
          </div>
          <div class="col-5">
            <h3> Clustering of Theft Related Crimes </h3>
            <embed type="text/html" src="{{ url_for('static', filename='html/file_theft.html') }}" width="550" height="700">
          </div>
          <div class="col-6 m-4" style="font-size: 1.1em;">
            <p class="bg-light p-1 text-justify float-left border rounded">
              <span style="font-size: 4em;">T</span>his project used a clustering Machine Learning algorithm to group crime across multiple different parameters. 
              <strong> Clustering is a type of unsupervised learning that groups data points together. This group of data points is called a cluster. </strong>
              Cluster modeling is a form of unsupervised machine learning. The model that is created finds structure from the data input into the model, as opposed to
               being given an outright structure. This type of machine learning is excellent at visualizing and discerning patterns that may be hidden within the dataset. 
            </p>
            <p class="bg-light p-1 text-justify float-left border rounded">
              The models that were built to represent these datasets were specifically built on a K-means algorithm, and then a Principal Component Analysis (PCA) was was applied 
              to the model to reduce some of the complex dementionality. The "K-means" algorithm will cluster the dataset into K clusters based on their proximity within the dataset 
              to a centroid point for that cluster. In order to determine the optimal number of clusters that the K-means algorithm was to produce for each dataset's model, we 
              ran an <span class="font-italic">inertia</span> test; an elbow curve test. Below is the result of the inertia test from the Theft dataset and K-means model. 
            </p>
            <figure class="figure">
              <img src="{{ url_for('static', filename='images/bokeh_plot.png') }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              <figcaption class="figure-caption">Inertia test, elbow curve, for Theft related crime dataset.</figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-11 m-2 p-2 mx-auto rounded bg border border-secondary row justify-content-between">
          <div class="col-6 m-4" style="font-size: 1.1em;">
            <p class="bg-light p-1 text-justify float-left border rounded">
              Because this dataset looked at many datapoints, and the dataset didn't offer a known structure to compare the data, we then 
              applied the PCA statistical technique. This is a method of reducing the number of features to compare by the clustering model. This 
              allows us to visualize the clustered models across the entire dataset, with only three dimensions, while still keeping as much of the 
              original features and data as possible within these clusters.
            </p>
            <figure class="figure">
              <img src="{{ url_for('static', filename='images/pca_code.png') }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              <figcaption class="figure-caption text-white">Dimentionality reduction using the PCA technique.</figcaption>
            </figure>
          </div>
          <div class="col-5">
            <h3> Clustering of All Crimes by Zip Code </h3>
            <embed type="text/html" src="{{ url_for('static', filename='html/file_zip_code.html') }}" width="550" height="700">
          </div>
        </div>
        <div class="col-md-11 m-2 p-2 mx-auto rounded bg border border-secondary row justify-content-between">
          <div class="col-5">
            <h3> Clustering of Violent Crimes </h3>
            <embed type="text/html" src="{{ url_for('static', filename='html/file_violent.html') }}" width="550" height="700">
          </div>
          <div class="col-6 m-4" style="font-size: 1.1em;">
            <p class="bg-light p-1 text-justify float-left border rounded">
              We used the results of these clusters to generate questions and to explore our datasets in new ways. We examined the outcome of these models, and began 
              to ask questions like; "maybe there is a connection between time fo day and the type of crime of crime that was commited", or "there may be a trend between 
              the location the crime was committed and the weather"... <br>
              Then using these visuals and our exploration time we generated a story of the crime that was comitted within the greater Austin metroplex  (2020-2021), these 
              can be seen on the other pages within this application.
            </p>
            <p class="bg-light p-1 text-justify float-left border rounded">
              <strong>Parameters examined: </strong> <br>
              Crime commited -- 'crime_type_x' <br>
              Time of Day -- 'time_occ' <br>
              Latitude -- 'latitude' <br>
              Longitude -- 'longitude' <br>
              Wind speed -- 'wind_speed' <br>
              Weather category -- 'weather_main' <br>
              Crime commited against family -- 'family_violence' <br>
              Temperature (F) -- 'temp' <br>
              Average income per household in neighborhood crime was committed in -- 'Avg. Income/H/hold' <br>
              Extreme food desert (50% of zip code lives within food desert) -- 'food_deprived_50' <br>
              Critical food desert (25% of zip code lives within food desert) -- 'food_deprived_25' <br>
              Food desert (10% of zip code lives within food desert) -- 'food_deprived_10'
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>