<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Machine Learning</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class= "contatiner bg-primary dark">
      <div class="row">
        <!-- Add Jumbotron to Header -->
        <div class=" col-md jumbotron text-center container bg-primary dark">
          <h1>Machine Learning Visual</h1>
          <p>Blue Group: Paul Westmore, Christopher Garcia, Stuart Wilson, Moez Kmo</p>
        </div>
      </div>
  </body>
</html>